.buttons {
    display: grid;
    margin: 20px;
}

@media (max-width: 767px) {
    .section__container {
        grid-template-columns: 1fr;
    }

    .buttons {
        margin: 0 auto 20px;
    }
}

.button {
    border: none;
    box-shadow: rgb(211, 211, 211) 0px 0px 0px 1px;
    padding: 7px;
    color: whitesmoke;
    background-color: teal;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(60, 167, 167);
    transform: scale(1.1);
}

.button--reset {
    display: grid;
    margin: 20px auto 20px;
    padding: 7px;
}