.buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 20px;
    margin: 0;
}

@media (max-width: 767px) {
    .section__container {
        grid-template-columns: 1fr;
    }

    .buttons {
        grid-template-columns: 1fr;
    }
}

.button {
    border: none;
    padding: 0;
    color: teal;
    background-color: white;
    cursor: pointer;
}

.button:hover {
    color: rgb(60, 167, 167);
}

.button:disabled {
    color: #ccc;
}

.button--reset {
    display: grid;
    margin: 20px auto 20px;
    border: none;
    padding: 10px;
    color: white;
    background-color: hsl(180, 100%, 25%);
    cursor: pointer;
    text-align: center;
}